<app-card title="Информация о продукте"
          [returnLink]="[MAIN_URL, EVENTS, product.eventId]"
          [isTitle]="true"></app-card>

<app-card title=" " [loading]="loading">
    <a header class="btn btn-main" (click)="onSave()" *ngIf="!readonly">
      {{ saveTxt }}
    </a>
  <a header class="btn btn-gray" (click)="onCancel()">
    Отмена
  </a>

  <a actions class="btn btn-orange"
     (click)="onDelete()" *ngIf="!readonly">
    Удалить продукт
  </a>

  <div class="form">
    <div class="form-control">
      <label class="form-label" for="title">
        Название:
      </label>
      <div class="form-value">
        <input type="text" class="form-input" required
               [(ngModel)]="title" [disabled]="readonly"
                id="title">
      </div>
    </div>

    <div class="form-control">
      <label class="form-label" for="price">
        Цена:
      </label>
      <div class="form-value">
        <input type="number" class="form-input"
               [(ngModel)]="price" [disabled]="readonly"
                id="price">
      </div>
    </div>

    <div class="form-control">
      <label class="form-label" for="total">
        Количество:
      </label>
      <div class="form-value">
        <input type="number" class="form-input"
               [(ngModel)]="total" [disabled]="readonly"
                id="total">
      </div>
    </div>

    <div class="form-control">
      <label class="form-label" for="buyer">
        Покупатель:
      </label>
      <div class="form-value">
        <select class="form-input" [(ngModel)]="buyerId" [disabled]="readonly"
                id="buyer">
          <option value="" disabled>Покупатель</option>
          <option *ngFor="let member of members" [value]="member.user.id">
            {{ member.user.username }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <app-products-eaters [eaters]="product.eaters || []"
                        [members]="members"
                       [numerable]="total > 0"
                       [total]="total"
                       (eatersChange)="onChange($event)"
                       [readonly]="readonly"
  >
  </app-products-eaters>
</app-card>
