<app-card title="Информация о продукте"
          [returnLink]="[MAIN_URL, EVENTS, product.eventId]"
          [isTitle]="true"></app-card>

<app-card title=" " [loading]="loading">
    <a header class="btn btn-main" (click)="onSave()" *ngIf="!readonly">
      {{ saveTxt }}
    </a>
  <a header class="btn btn-gray" (click)="onCancel()">
    Отмена
  </a>

  <a actions class="btn btn-orange"
     (click)="onDelete()" *ngIf="!readonly">
    Удалить продукт
  </a>

  <div class="details-container">
    <div class="details-row">
      <p class="details-label">
        Название:
      </p>
      <div class="details-value">
        <input type="text" class="details-input" required
               [(ngModel)]="title" [disabled]="readonly">
      </div>
    </div>

    <div class="details-row">
      <p class="details-label">
        Цена:
      </p>
      <div class="details-value">
        <input type="number" class="details-input"
               [(ngModel)]="price" [disabled]="readonly">
      </div>
    </div>

    <div class="details-row">
      <p class="details-label">
        Количество:
      </p>
      <div class="details-value">
        <input type="number" class="details-input"
               [(ngModel)]="total" [disabled]="readonly">
      </div>
    </div>

    <div class="details-row">
      <p class="details-label">
        Покупатель:
      </p>
      <div class="details-value">
        <select class="details-input" [(ngModel)]="buyerId" [disabled]="readonly">
          <option value="" disabled>Покупатель</option>
          <option *ngFor="let member of members" [value]="member.user.id">
            {{ member.user.username }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <app-products-eaters [eaters]="product.eaters || []"
                        [members]="members"
                       [numerable]="total > 0"
                       [total]="total"
                       (eatersChange)="onChange($event)"
                       [readonly]="readonly"
  >
  </app-products-eaters>
</app-card>
