<header class="header">
  <div class="header-container">
    <a class="header-logo" [routerLink]="[ROOT_URL]">
      <fa-icon [icon]="iconLogo"></fa-icon> Разделялка
    </a>
  </div>
</header>

<div class="row full-height">
  <div class="container">
    <div class="row-center">
      <p class="text-normal">
        Выберите как хотите продолжить:
      </p>
      <a href="#" class="button bg-orange" (click)="withoutRegistration($event)">
        Без регистрации
      </a>
      <p class="text-help">
        Быстрый старт
      </p>
      <a [routerLink]="[AUTH_URL, LOGIN]" class="button">
        С регистрацией
      </a>
      <p class="text-help">
        Возможность сохранить мероприятие в личном кабинете
      </p>
    </div>
  </div>
</div>
