.auth {
  margin: 0 auto;
  margin-top: 160px;
  max-width: 1024px;
  background-color: white;
  height: 628px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px 16px 16px 16px;

  &-container {
    display: flex;
    height: 100%;
  }

  &-left {
    background: var(--brandColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px 0 0 16px;
    height: 100%;
    flex: 3;
  }

  &-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 4;
  }

  &-logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0.1em;
    line-height: 42px;
    color: #FFFFFF;
    margin-top: 72px;
    text-align: center;
  }

  &-header {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.1em;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 102px;
    text-align: center;
  }

  &-subheader {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 8px;
    width: 80%;
  }

  &-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--textNormalSize);
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 42px;
    width: 80%;
  }

  &-link {
    margin-top: 40px;
    width: 80%;
    background: var(--brandColor);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 12px 0;
    color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: var(--textNormalSize);
    line-height: 21px;
    text-decoration: none;

    &:hover {
      box-shadow: 0 0 5px #FFFFFF;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  align-items: center;

  &-control {
    width: 100%;
    margin-bottom: 30px;
  }

  &-label {
    font-style: normal;
    font-weight: normal;
    font-size: var(--textNormalSize);
    line-height: 21px;
    color: var(--dark);
  }

  &-input {
    width: 100%;
    padding: 15px 20px;
    background: #F3F3F3;
    border: none;
    font-size: var(--textNormalSize);
    line-height: 21px;
    color: #000000;

    &__error {
      border: 1px solid red;
    }

  }

  &-button {
    background: var(--brandColor);
    border: 2px solid var(--brandColor);
    box-sizing: border-box;
    border-radius: 24px;
    font-size: var(--textNormalSize);
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    width: 300px;
    padding-top: 12px;
    padding-bottom: 12px;

    &:hover:enabled {
      box-shadow: 0 0 5px var(--brandColor);
    }

    &:disabled {
      background: var(--light);
      border: none;
    }
  }

  &-link {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: var(--textNormalSize);
    line-height: 21px;
    color: var(--dark);

    &:hover {
      text-decoration: underline;
    }
  }

  &-error {
    color: red;
    display: none;
    margin-top: 6px;
  }

  &-failed {
    color: red;
    margin-top: 30px;
    text-align: center;
  }
}

.alert {
  color: #B00100;
  margin-top: 16px;
  width: 400px;
  text-align: center;
}

.notice {
  color: var(--brandColor);
  margin-top: 16px;
  width: 400px;
  text-align: center;
}

@import "auth.component.medium";
@import "auth.component.small";
