<div class="auth-container">
  <div class="auth-left">
    <h1 class="auth-logo">
      <a [routerLink]="[ROOT_URL]" class="auth-logo">
        <fa-icon [icon]="iconLogo"></fa-icon> Разделялка
      </a>
    </h1>
    <p class="auth-subheader">
      Управляй общими тратами на праздниках, корпоративах,
      пьянках и в путешествиях
    </p>

    <h2 class="auth-header">Регистрация</h2>
    <p class="auth-text">Уже есть аккаунт?</p>
    <a [routerLink]="[AUTH_URL, LOGIN]" class="auth-link">
      Вход
    </a>
  </div>
  <div class="auth-right">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label class="form-label" for="email">Email</label>
        <input type="email" autofocus autocomplete="email" class="form-input" id="email" formControlName="email">
      </div>

      <div class="form-control">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-input" id="password" formControlName="password">
      </div>

      <div class="form-control">
        <label for="password_confirmation" class="form-label">Повторите пароль</label>
        <input type="password" class="form-input" id="password_confirmation" formControlName="password_confirmation">
      </div>
      <p class="form-error" *ngIf="!passwordsEqual">
        Пароли не совпадают
      </p>

      <button class="form-button" type="submit" [disabled]="!form.valid">
        Зарегистрироваться
      </button>
    </form>
    <fa-icon [icon]="spinner" [pulse]="true" size="2x" *ngIf="showSpinner"
             class="form-link"></fa-icon>
  </div>
</div>
