@media screen and (max-width: 1007px) {
  .container {
    max-width: 740px;
  }

  .row {
    height: 450px;
  }

  .footer {
    max-width: 740px;
  }

  .bg-image {
    background: none;
  }

  .icon {
    font-size: 140px;
  }
}
