.row {
  display: flex;
  flex-wrap: wrap;
}


.w-100 {
  width: 100%;
}

.card {
  margin-top: 24px;
  border: 1px solid var(--gray3);
  border-radius: 12px;
  padding: 16px 20px;
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 7px 14px 0 rgba(65,69,88,0.1),0 3px 6px 0 rgba(0,0,0,0.07);
  background-color: var(--white);

  &-header {
    color: var(--gray10) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &-title {
    font-weight: normal;
    display: flex;
    align-items: center;
  }

  &-body {
    margin-top: 12px;
    padding-top: 12px;
    padding-bottom: 24px;
    border-top: 1px solid var(--gray3);
  }

  &-footer {
    color: var(--gray8);
    border-top: 1px solid var(--gray3);
    display: flex;
    justify-content: space-between;
  }

  &>* {
    color: var(--gray8);
  }

  &-spinner {
    text-align: center;
  }
}

.title {
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: var(--gray9);
  font-weight: bold;
}

.back-link {
  text-decoration: none;
  color: var(--gray4);
  margin-right: 12px;
  font-size: 32px;

  &:hover {
    color: var(--gray8);
  }
}

@import "card.component.small";
