<div class="row w-100">
  <div class="card" *ngIf="!loading">
    <div class="card-header" *ngIf="title.length > 0">

      <h3 class="card-title" [ngClass]="{'title': isTitle}">
        <a [routerLink]="returnLink" class="back-link" *ngIf="returnLink.length > 0">
          <fa-icon [icon]="iconBack" size="1x"></fa-icon>
        </a>
        {{ title }}
        <ng-content select="[header]"></ng-content>
      </h3>
      <div class="card-actions">
        <ng-content select="[actions]"></ng-content>
      </div>
    </div>
    <div class="card-body" *ngIf="!isTitle">
      <ng-content></ng-content>
    </div>
    <div class="card-footer" *ngIf="!isTitle">
      <ng-content select="[footer]"></ng-content>
    </div>
  </div>
  <div class="card" *ngIf="loading">
    <fa-icon [icon]="spinner" size="2x" [pulse]="true" class="card-spinner"></fa-icon>
  </div>
</div>
