<app-card title="Изменить мероприятие"
          [isTitle]="true"
          [returnLink]="[MAIN_URL, EVENTS, id]"
></app-card>

<app-card [loading]="loading">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label class="form-label" for="name">Придумай название</label>
      <div class="form-value">
        <input type="text" autofocus class="form-input" id="name" formControlName="title">
        <div class="form-warning" *ngIf="form.controls['title'].invalid
                                  && form.controls['title'].touched">
          <p class="form-warning_text">
            Название не может быть пустым
          </p>
        </div>
      </div>
    </div>

    <div class="form-control">
      <label class="form-label" for="evented_at">Когда пьем:</label>
      <div class="form-value form-value_date">
        <input matInput [matDatepicker]="datepicker" class="form-input form-input_date"
               placeholder="Выберите дату" formControlName="eventedAt" id="evented_at">
        <mat-datepicker-toggle matSuffix [for]="datepicker" class="form-input_picker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </div>
    </div>

    <div class="form-control">
      <label class="form-label" for="reason">Какой повод:</label>
      <div class="form-value">
        <input type="text" class="form-input" id="reason" formControlName="reason">
      </div>
    </div>

    <div class="form-control" *ngIf="loggedIn">
      <label class="form-label" for="isPublic">Открытое мероприятие:</label>
      <div class="form-value form-value_date">
        <input type="checkbox" formControlName="isPublic" class="form-checkbox" id="isPublic">
      </div>
    </div>

    <div class="form-control" *ngIf="loggedIn">
      <label class="form-label" for="isActive">Архив:</label>
      <div class="form-value form-value_date">
        <input type="checkbox" formControlName="isArchive" class="form-checkbox" id="isActive">
      </div>
    </div>

    <div class="form-buttons">
      <button type="submit" class="form-button form-apply">Сохранить</button>
      <a [routerLink]="[MAIN_URL, EVENTS, id]" type="reset" class="form-button form-cancel">Отмена</a>
    </div>
  </form>
</app-card>
