.container {
  margin: 0 auto;
  min-height: calc(100vh - 140px);
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.w-100 {
  width: 100%;
}

.w-50 {
  flex: 1 0 300px;
  width: 50%;

  &:first-child {
    padding-right: 10px;
  }

  &:last-child {
    padding-left: 10px;
  }
}

.table {
  width: 100%;
  border-color: var(--gray1);
  border-collapse: collapse;
  display: table;
  margin-top: 12px;

  &-container {
    width: 100%;
  }

  &>thead {
    background-color: var(--gray2);
    color: var(--gray7);
    text-align: center;
  }

  &>tbody>tr {
    border-top: 1px solid var(--gray2);
  }

  &>tbody>tr>td {
    text-align: center;
    color: var(--gray8);
  }

  &>:not(caption)>*>* {
    padding: 1rem;
  }

  &>tbody>tr>td:first-child {
    padding-left: 1.25rem;
    text-align: left;
  }

  &>tbody>tr>td:last-child {
    text-align: right;
  }
}

.link {
  color: var(--blue);

  &:visited {
    color: var(--blue);
  }

  &:hover {
    color: var(--brandColor);
  }
}

.fields {
  &-name {
    flex: 1;
  }

  &-descr {
    flex: 2;
  }

  &-date {
    flex: 1;
  }

  &-no-data {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-top: 24px;
  }
}

.title {
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: var(--gray9);


  &-rightblock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &-container {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
  }

  &-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: var(--gray7);

    &:hover {
      text-decoration: underline;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &-control {
    margin-top: 35px;
    display: flex;
  }

  &-label {
    text-align: end;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: var(--dark);
    flex-wrap: wrap;
    flex-basis: 100px;
  }

  &-value {
    flex-basis: 600px;
    margin-left: 36px;
    display: flex;
    flex-direction: column;
  }

  &-value_date {
    flex-direction: row;
  }

  &-input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid var(--gray4);
    border-radius: 8px;
    padding: 10px;

    &:focus {
      outline: none;
      border-color: var(--gray8);
    }

    &_picker {
      color: var(--brandColor);
      position: relative;
      left: -45px;
    }

    &_date {
      flex-basis: 200px;
    }
  }

  &-checkbox {
    //margin-left: 36px;
    padding: 10px;
    flex-basis: 20px;
  }

  &-buttons {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
  }

  &-delimiter {
    border-top: 1px solid #FFFFFF;
    margin-top: 16px;
  }

  &-error {
    color: red;
    margin: 8px 16px;
    font-size: small;
    display: none;
  }

  &-warning {
    color: var(--orange);
    text-align: left;
    margin-top: 4px;
    min-height: 20px;

    &_text {
      font-size: 14px;
    }
  }
}

.spinner {
  text-align: center;

  &-container {
    display: flex;
    justify-content: center;
  }
}

.details {
  &-container {
    margin-top: 24px;
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
  }

  &-label {
    width: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: var(--dark);
  }

  &-value {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-left: 21px;
    display: flex;
    width: 70%;

    &_onlytext {
      flex: 1 1;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
    }
  }

  &-input {
    border: none;
    padding: 4px 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    flex: 1 0 200px;
    border-radius: 12px;

    &_error {
      border: 2px solid #B00100;
    }
  }
}

.btn {
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;

  &-main {
    border: 1px solid var(--brandColor);
    background-color: var(--brandColor);
    color: var(--white);

    &:hover {
      box-shadow: 0 0 5px var(--brandColor);
    }
  }

  &-gray {
    border: 1px solid var(--gray3);
    background-color: var(--gray3);
    color: var(--gray10);

    &:hover {
      background-color: var(--gray4);
    }

    &:disabled {
      background-color: var(--gray2);
      color: var(--gray6);
    }
  }

  &-orange {
    background: var(--orange);
    border: 2px solid var(--orange);
    color: var(--white);

    &:hover {
      box-shadow: 0 0 5px var(--orange);
    }
  }
}

.smallbtn {
  border-radius: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  padding: 6px 10px;
}



@import "main.component.medium";
@import "main.component.small";
