.container {
  margin: 0 auto;
  min-height: calc(100vh - 140px);
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.w-100 {
  width: 100%;
}

.w-50 {
  flex: 1 0 300px;
  width: 50%;

  &:first-child {
    padding-right: 10px;
  }

  &:last-child {
    padding-left: 10px;
  }
}

.table {
  width: 100%;
  border-color: var(--gray1);
  border-collapse: collapse;
  display: table;
  margin-top: 12px;

  &-container {
    width: 100%;
  }

  &>thead {
    background-color: var(--gray2);
    color: var(--gray7);
    text-align: center;
  }

  &>tbody>tr {
    border-top: 1px solid var(--gray2);
  }

  &>tbody>tr>td {
    text-align: center;
    color: var(--gray8);
  }

  &>:not(caption)>*>* {
    padding: 1rem;
  }

  &>tbody>tr>td:first-child {
    padding-left: 1.25rem;
    text-align: left;
  }

  &>tbody>tr>td:last-child {
    text-align: right;
  }
}

.link {
  color: var(--blue);

  &:visited {
    color: var(--blue);
  }

  &:hover {
    color: var(--brandColor);
  }
}

.fields {
  &-name {
    flex: 1;
  }

  &-descr {
    flex: 2;
  }

  &-date {
    flex: 1;
  }

  &-no-data {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}

.title {
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: var(--gray9);


  &-rightblock {
    display: flex;
    align-items: center;
  }

  &-container {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
  }

  &-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: var(--gray7);

    &:hover {
      text-decoration: underline;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &-control {
    margin-top: 35px;
    display: flex;
  }

  &-label {
    text-align: end;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: var(--dark);
    flex-wrap: wrap;
    flex-basis: 200px;
  }

  &-input {
    flex-basis: 600px;
    margin-left: 36px;
    background: #FFFFFF;
    border: 1px solid var(--gray4);
    border-radius: 8px;
    padding: 10px;

    &:focus {
      outline: none;
      border-color: var(--gray8);
    }

  }

  &-checkbox {
    margin-left: 36px;
    padding: 10px;
    flex-basis: 20px;
  }

  &-buttons {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
  }

  &-button {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 20px;
    border-radius: 31px;

    &:disabled {
      background: var(--dark);
    }
  }

  &-apply {
    background: var(--brandColor);
  }

  &-cancel {
    background: var(--dark);
  }

  &-delimiter {
    border-top: 1px solid #FFFFFF;
    margin-top: 16px;
  }

  &-error {
    color: red;
    margin: 8px 16px;
    font-size: small;
    display: none;
  }
}

.spinner {
  text-align: center;

  &-container {
    display: flex;
    justify-content: center;
  }
}
