<div class="auth-container">
  <div class="auth-left">
    <h1 class="auth-logo">
      <a [routerLink]="[ROOT_URL]" class="auth-logo">
        <fa-icon [icon]="iconLogo"></fa-icon> Разделялка
      </a>
    </h1>
    <p class="auth-subheader">
      Управляй общими тратами на праздниках, корпоративах,
      пьянках и в путешествиях
    </p>

    <h2 class="auth-header">Восстановление пароля</h2>
    <p class="auth-text">Помните свой пароль?</p>
    <a [routerLink]="[AUTH_URL, LOGIN]" class="auth-link">
      Вход
    </a>
  </div>
  <div class="auth-right">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label class="form-label" for="email">Email</label>
        <input type="email" autofocus autocomplete="email" class="form-input" id="email" formControlName="email">
      </div>

      <button class="form-button" type="submit" [disabled]="!form.valid">
        Восстановить пароль
      </button>

      <a [routerLink]="[AUTH_URL, REGISTRATION]" class="form-link">
        Регистрация
      </a>
    </form>
  </div>
</div>
