.footer {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  & > p {
    color: var(--gray4);
    font-size: small;
  }
}
