<div class="row">
  <div class="w-100">
    <app-card title="Продукты" [loading]="loading">

      <form class="add-form" [formGroup]="form" *ngIf="!readonly">
        <div class="add-form-container">
          <input placeholder="Название" class="products-form-input products-form_name"
                 formControlName="name" type="text">

          <input type="number" placeholder="Стоимость" formControlName="price"
                class="products-form-input products-form_price">

          <select class="products-form-input products-form_buyer" formControlName="buyer">
            <option value="" disabled>Покупатель</option>
            <option *ngFor="let member of members" [value]="member.user.id">
              {{ member.user.username }}
            </option>
          </select>

          <button class="btn btn-gray" (click)="submitForm($event)" [disabled]="!form.valid">
            Добавить
          </button>
        </div>

<!--        <input type="checkbox" id="countable" name="countable" (change)="toggleHidden()" formControlName="showHidden"/>-->
<!--        <label for="countable" class="products-form_text" >Требует поштучного учета</label>-->

        <div class="add-form-hidden" *ngIf="showHidden">
          <input type="number" min="0" max="10000" placeholder="Количество*" formControlName="total"
                 class="products-form-input products-form_price">

          <p class="products-form_comment">
            * Количество продукта надо указывать, если важно разделить его не поровну между всеми. Пример: <br>
            - Вы купили 10 бутылок пива. <br>
            - Иван выпил 2 бутылку<br>
            - Денис не стал пить пиво<br>
            - Саша выпил 8 штук. <br>
            В этом случае указывает, что было куплено 10 бутылок и затем каждый отмечает у себя то количество,
            которое на самом деле выпил. В результате Иван оплатит 2/10 стоимости всего пива, Денис ничего не заплатит,
            а Саша заплатит 8/10.
          </p>
        </div>
      </form>

      <div class="products-table_container">
        <table class="table">
          <thead>
          <tr>
            <td>№</td>
            <td>Продукт</td>
            <td>Цена</td>
<!--            <td>К-во</td>-->
            <td>Купил</td>
            <td>Употребляло</td>
            <td></td>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <a [routerLink]="[MAIN_URL, PRODUCTS, product.id]" class="link">
                  {{ product.title }}
                </a>
              </td>
              <td>{{ product.price }}</td>
<!--              <td>-->
<!--                {{ product.total ? product.total : '-' }}-->
<!--              </td>-->
              <td>
                {{ product.buyer.username }}
              </td>
              <td>
                <a href="#" (click)="showPopup($event, product.id)">
                  {{ product.eatersCount }}
                </a>

              </td>
              <td>
                <a href="#" (click)="onDelete($event, product)" class="link"
                    *ngIf="!readonly">
                  <fa-icon [icon]="deleteIcon"></fa-icon>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <p class="products-total" footer>
        Общая сумма: <strong>{{ sum }} руб.</strong>
      </p>
    </app-card>
  </div>
</div>

<div *ngIf="popUpShowFlag" [style.top]="popupY" [style.left]="popupX"
     class="popup" #popUp>

  <fa-icon [icon]="spinner" [pulse]="true" class="popup-spinner"
    *ngIf="eatersLoading"></fa-icon>

  <ul *ngIf="!eatersLoading">
    <li *ngFor="let eater of popupEaters">
      {{ eater.user.username }}
    </li>
  </ul>
</div>

