.eaters {
  &-container {
    display: flex;
    margin-top: 32px;
  }

  &-list {
    width: 360px;

    &_title {
      text-align: center;
      margin-bottom: 6px;
      font-weight: bold;
    }

    &_body {
      border: 1px solid var(--dark);
      border-radius: 8px;
      padding: 12px 16px;
      height: 400px;
    }

    &_item {
      padding: 6px;
      margin-bottom: 2px;
      width: 100%;
      color: black;
      background: #FFFFFF;
      display: flex;
      justify-content: space-between;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    width: 50px;
    justify-content: center;
    align-items: center;
  }

  &-button {
    border: 1px solid var(--dark);
    padding: 4px;
    text-align: center;
    width: 24px;
    margin-top: 16px;

    &:hover {
      box-shadow: 0 0 4px var(--brandColor);
    }
  }

  &-selected {
    //background: #5a679d;
    background: var(--brandColor);
    color: #FFFFFF;
  }
}
@import "products-eaters.component.small";
