<header class="header">
  <p class="header-title">
    <a [routerLink]="[MAIN_URL, EVENTS]" class="header-title" *ngIf="loggedIn">
      <fa-icon [icon]="icon" class="icon"></fa-icon>Разделялка
    </a>
    <a [routerLink]="[ROOT_URL]" class="header-title" *ngIf="!loggedIn">
      <fa-icon [icon]="icon" class="icon"></fa-icon>Разделялка
    </a>
  </p>

  <nav class="header-menu">
    <a class="header-text" [routerLink]="[MAIN_URL, PROFILE]" *ngIf="loggedIn">
      Профиль
    </a>
    <a class="header-text" (click)="onExit()" *ngIf="loggedIn">
      Выход
    </a>
    <a class="header-text" [routerLink]="[AUTH_URL, LOGIN]" *ngIf="!loggedIn">
      Войти
    </a>
  </nav>
</header>
