.event {
  margin-top: 26px;

  &-left {
    flex: 2;
    margin-right: 36px;
  }

  &-right {
    flex: 1;

    &_header {
      display: flex;
      justify-content: space-between;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-body {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }

}

.result-link {
  margin-top: 20px;
}

.members {
  padding: 16px 24px;

  &-item {
    margin-bottom: 12px;
  }
}

.add-bot {
  width: 100%;

  &-header {
    margin-top: 12px;
    font-weight: bolder;
  }

  &-subheader {
    color: var(--gray6);
    font-size: 12px;
    margin: 4px 0 8px 0;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-input {
    padding: 12px 16px;
    flex: 1 0 auto;
    margin-right: 20px;
    border-radius: 12px;
    border: 1px solid var(--gray3);

    &:focus {
      outline: none;
      border-color: var(--gray8);
    }
  }

}

.delete-link {
  text-decoration: none;
  color: var(--orange);
  margin-left: 24px;

  &:hover {
    text-decoration: underline;
  }
}

.leave-link {
  text-decoration: none;
  color: var(--orange);

  &:hover {
    text-decoration: underline;
  }
}

.remove-link {
  margin-left: 12px;
  color: var(--light);
  cursor: pointer;

  &:hover {
    color: darkred;
  }
}

.ml12 {
  margin-left: 12px;
}
@import "show.component.small";
