/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

:root {
  --brandColor: #4C629B;
  --dark: #9E9E9E;
  --light: #C4C4C4;

  --textNormalSize: 18px;
  --fontHeader: Raleway;

  --gray1: #f9fafd;
  --gray2: #edf2f9;
  --gray3: #d8e2ef;
  --gray4: #b6c1d2;
  --gray5: #9da9bb;
  --gray6: #748194;
  --gray7: #5e6e82;
  --gray8: #4d5969;
  --gray9: #344050;
  --gray10: #232e3c;
  --gray11: #0b1727;

  --body_bg: #edf2f9;
  --white: #FFFFFF;
  --orange: #d06714;
  --blue: #2c7be5;
}

.body {
  background: var(--body_bg);
}
