<app-card title="Информация об общем фонде"
          [returnLink]="[MAIN_URL, EVENTS, eventId]"
          [isTitle]="true">
  <p actions>
    {{ sum }} руб.
  </p>
</app-card>

<app-card title=" " [loading]="loadingData">
  <a header class="btn btn-main" (click)="onSave()">
    {{ saveTxt }}
  </a>
  <a header class="btn btn-gray" (click)="onCancel()">
    Отмена
  </a>

  <div class="form">
    <ng-container *ngFor="let member of members">
      <div class="form-control" *ngIf="member.user.type !== USER_FUND">
        <label class="form-label" [for]="member.id">
         {{ member.user.username }}
        </label>
        <div class="form-value">
          <input type="number" class="form-input" [(ngModel)]="member.money"
                 [id]="member.id">
        </div>
      </div>
    </ng-container>
  </div>

</app-card>
